// main color
$navy: #003171;
$dark-blue: #0045A7;
$blue: #357CE0;
$light-blue: #4F9FED;
$green: #5AA8AA;
$red: #DE6762;
$orange: #ED8A4A;
$blue-grey: #435264;
// grey
$light-grey: #EFEFEF;
$grey: #ADB2B9;

// font
$font-black: #222222; // font
$font-light-grey: #a7a7a7;
$font-grey: #515151;

// font style
.text-color {
    &--primary {
        color: $blue;
    }
    &--secondary {
        color: $light-blue;
    }
    &--green {
        color: $green;
    }
}
// 강조
.emphasis-text {
    font-size: 18px;
    font-weight: bold;
    color: $navy;
}
.sub-text {
    font-size: 14px;
    font-weight: 400;
    color: $font-grey;
    &--light-color {
        color: $font-light-grey;
    }
}
.clear {
    display: block;
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}
.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}