// main color
$navy: #003171;
$dark-blue: #0045A7;
$blue: #3274D2;
$light-blue: #5A94E6;
$green: #53A1A3;
$red: #D9623F;
$orange: #E69423;
$blue-grey: #435264;
// grey
$light-grey: #EFEFEF;
$grey: #ADB2B9;

// font
$font-black: #222222; // font
$font-light-grey: #a7a7a7;
$font-grey: #515151;
